astroid==3.3.11
autoflake==2.3.1
colorama==0.4.6
decorator==5.2.1
dill==0.4.0
freetype-py==2.5.1
glcontext==3.0.0
hsluv==5.0.4
imageio==2.37.0
isort==6.0.1
kiwisolver==1.4.9
libcst==1.8.2
lxml==6.0.0
mccabe==0.7.0
moderngl==5.12.0
moderngl-window==3.1.1
multipledispatch==1.0.0
mypy_extensions==1.1.0
networkx==3.5
numpy==2.2.6
numpy-stl==3.2.0
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
packaging==25.0
pathlib==1.0.1
pep8==1.7.1
pillow==11.3.0
platformdirs==4.3.8
pyarrow==21.0.0
pybullet==3.2.7
pycollada==0.6
pyflakes==3.4.0
pygame==2.6.1
pyglet==2.1.8
pyglm==2.8.2
pylance==0.33.0
pylint==3.3.8
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6-stubs==20250731
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
pyrr==0.10.3
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
python-dateutil==2.9.0.post0
python-utils==3.9.1
pywin32==311
PyYAML-ft==8.0.0
scipy==1.16.1
setuptools==80.9.0
shiboken6==6.9.1
sip==6.12.0
six==1.17.0
tomlkit==0.13.3
trimesh==4.7.4
typing_extensions==4.14.1
vispy==0.15.2
